*{
    box-sizing: border-box;
}

.title-text{
    text-align: center;
}

.play-div{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-div button{
    display: none;
    width: 100px;
    height: 40px;
    transition: width 0.25s, height 0.25s;
}

.play-div button:hover{
    width: 105px;
    height: 45px;
}


.options{
    margin-top: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.options button{
    width: 350px;
    height: 250px;
    transition: width 0.25s, height 0.25s, font-size 0.15s, background-color 0.1s;
}

.options :hover{
    width: 425px;
    height: 255px;
    font-size: 40px;
    color: white;
    background-color: black;
}

.narrate-text{
    text-align: center;
}

.moves-left{
    text-align: center;
}

/* The animation code */
@keyframes grow {
    0%  {font-size: 100%}
    25% {font-size: 110%}
    50% {font-size: 130%}
    100% {font-size: 100%}
}

@keyframes pulse {
    0%  {background-image: none}
    50% {background-image: none}
    100% {background-image: none}
}

.moves-left{
    max-block-size: 20px;
}

.endgame-menu{
    display: none;
    justify-content: center;
}

.endgame-menu button{
    width: 75px;
    height: 35px;
    transition: width 0.25s, height 0.25s, font-size 0.15s, background-color 0.1s;
    margin-bottom: 40px;
}

.endgame-menu button:hover{
    width: 80px;
    height: 40px;
    font-size: 110%;
    color: white;
    background-color: black;
}


.restart-button{

}

.points-display{
    display: flex;
    justify-content: center;
    align-items: center;
}

.points-display img{
    width: 32px;
    height: 32px;
}

.points-display p{
    display: inline-block;
    width: 32px;
    margin-top: 0px;
    text-align: center;
}

.player{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 50px;
}

.computer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 50px;
}

body{
    animation-name: pulse;
    animation-duration: 1s;
}